


.LibC_o
{
    background: url('/global/Images/LibC.gif') 0 0;
    width: 16px;
    height: 16px;
    
}

.LibC_e
{
    background: url('/global/Images/LibC.gif') -16px 0;
    width: 16px;
    height: 16px;
    
}

.LibC_c
{
    background: url('/global/Images/LibC.gif') -32px 0;
    width: 16px;
    height: 16px;
    
}

.LibC_s
{
    background: url('/global/Images/LibC.gif') -48px 0;
    width: 16px;
    height: 16px;
    
}

.LibC_b
{
    background: url('/global/Images/LibC.gif') -64px 0;
    width: 4px;
    height: 13px;
    
}

.LibC_arrow-off
{
    background: url('/global/Images/LibC.gif') -68px 0;
    width: 15px;
    height: 17px;
    vertical-align: middle;
    
}

.LibC_arrow-on
{
    background: url('/global/Images/LibC.gif') -83px 0;
    width: 15px;
    height: 17px;
    vertical-align: middle;    

}

.LibC_rtg_comCon
{
    background: url('/global/Images/LibC.gif') -98px 0;
    width: 16px;
    height: 16px;
    
}

.LibC_rtg_email
{
    background: url('/global/Images/LibC.gif') -114px 0;
    width: 16px;
    height: 16px;
    
}

.LibC_rtg_print
{
    background: url('/global/Images/LibC.gif') -130px 0;
    width: 16px;
    height: 16px;
    
}

.LibC_rtg_save
{
    background: url('/global/Images/LibC.gif') -146px 0;
    width: 16px;
    height: 16px;
    
}

.LibC_help
{
    background: url('/global/Images/LibC.gif') -162px 0;
    width: 16px;
    height: 16px;
    
}

.LibC_lib_grippy
{
    background: url('/global/Images/LibC.gif') -178px 0;
    width: 5px;
    height: 20px;
    
}

.LibC_rss_button
{
    background: url('/global/Images/LibC.gif') -183px 0;
    width: 16px;
    height: 16px;
    
}

.LibC_spinner
{
    background: url('/global/Images/LibC.gif') -199px 0;
    width: 31px;
    height: 29px;
    
}

.LibC_wiki
{
    background: url('/global/Images/LibC.gif') -230px 0;
    width: 42px;
    height: 42px;
    
}

.LibC_starBlue
{
    background: url('/global/Images/LibC.gif') -272px 0;
    width: 16px;
    height: 16px;
    
}

.LibC_starGold
{
    background: url('/global/Images/LibC.gif') -288px 0;
    width: 16px;
    height: 16px;    
}

.LibC_starWhite
{
    background: url('/global/Images/LibC.gif') -304px 0;
    width: 16px;
    height: 16px;    
}

.LibC_copy_off
{
    background: url('/global/Images/LibC.gif') -320px 0;
    width: 15px;
    height: 13px;
    float:left;    
}

.LibC_space
{
    background: url('/global/Images/LibC.gif') -335px 0;
    width: 1px;
    height: 1px;
    
}

.LibC_popdownarrow
{
    background: url('/global/Images/LibC.gif') -345px 0;
    width: 7px;
    height: 4px;
    
}

.LibC_search
{
    background: url(/platform/masterpages/expressionv3page/Images/glyph_search.gif); 
    
}

.LibC_websearch
{
    background: url('/global/Images/LibC.gif') -372px 0;
    width: 1px;
    height: 20px;
    
}

.LibC_arrowdwn
{
    background: url('/global/Images/LibC.gif') -373px 0;
    width: 13px;
    height: 7px;
    
}

.LibC_arrowrgt
{
    background: url('/global/Images/LibC.gif') -386px 0;
    width: 13px;
    height: 7px;
    
}

.LibC_panel_corner_botleft
{
    background: url('/global/Images/LibC.gif') -399px 0;
    width: 5px;
    height: 5px;
    
}

.LibC_panel_corner_botright
{
    background: url('/global/Images/LibC.gif') -404px 0;
    width: 5px;
    height: 5px;
    
}

.LibC_panel_corner_upleft
{
    background: url('/global/Images/LibC.gif') -409px 0;
    width: 5px;
    height: 5px;
    
}

.LibC_panel_corner_upright
{
    background: url('/global/Images/LibC.gif') -414px 0;
    width: 5px;
    height: 5px;
    
}

.LibC_panel_header
{
    background: url('/global/Images/LibC.gif') -419px 0;
    width: 1px;
    height: 24px;
    
}

.LibC_panel_header_left
{
    background: url('/global/Images/LibC.gif') -420px 0;
    width: 5px;
    height: 25px;
    
}

.LibC_panel_header_right
{
    background: url('/global/Images/LibC.gif') -425px 0;
    width: 5px;
    height: 25px;
    
}

.LibC_to
{
    background: url('/global/Images/LibC.gif') -431px 0;
    width: 7px;
    height: 9px;
    
}
.LibC_te
{
    background: url('/global/Images/LibC.gif') -438px 0;
    width: 7px;
    height: 9px;
    
}
.LibC_tc
{
    background: url('/global/Images/LibC.gif') -445px 0;
    width: 7px;
    height: 9px; 
}


.msdn_TabC_mslogo
{
    background: url('/global/Images/msdn.TabC.png') 0 0;
    width: 132px;
    height: 29px;
    
}

.msdn_TabC_msdn_SiteNavTabOff1Left
{
    background: url('/global/Images/msdn.TabC.png') -132px 0;
    width: 2px;
    height: 22px;
    
}

.msdn_TabC_msdn_SiteNavTabOff1Right
{
    background: url('/global/Images/msdn.TabC.png') -134px 0;
    width: 2px;
    height: 22px;
    
}

.msdn_TabC_msdn_SiteNavTabOnLeft
{
    background: url('/global/Images/msdn.TabC.png') -136px 0;
    width: 2px;
    height: 24px;
    
}

.msdn_TabC_msdn_SiteNavTabOnRight
{
    background: url('/global/Images/msdn.TabC.png') -138px 0;
    width: 2px;
    height: 24px;
    
}

.msdn_TabC_lib_SiteNavTabOff1Left
{
    background: url('/global/Images/msdn.TabC.png') -160px 0;
    width: 2px;
    height: 22px;
    
}

.msdn_TabC_lib_SiteNavTabOff1Right
{
    background: url('/global/Images/msdn.TabC.png') -162px 0;
    width: 2px;
    height: 22px;
    
}

.msdn_TabC_lib_SiteNavTabOnLeft
{
    background: url('/global/Images/msdn.TabC.png') -164px 0;
    width: 2px;
    height: 24px;
    
}

.msdn_TabC_lib_SiteNavTabOnRight
{
    background: url('/global/Images/msdn.TabC.png') -166px 0;
    width: 2px;
    height: 24px;
    
}

.msdn_TabC_more_corner_MSDN_botleft
{
    background: url('/global/Images/msdn.TabC.png') 0 0;
    width: 1px;
    height: 1px;
    
}

.msdn_TabC_more_corner_MSDN_botright
{
    background: url('/global/Images/msdn.TabC.png') 0 0;
    width: 1px;
    height: 1px;
    
}

.msdn_TabC_more_corner_MSDN_upleft
{
    background: url('/global/Images/msdn.TabC.png') 0 0;
    width: 1px;
    height: 1px;
    
}

.msdn_TabC_more_corner_MSDN_upright
{
    background: url('/global/Images/msdn.TabC.png') 0 0;
    width: 1px;
    height: 1px;
    
}

.technet_TabC_mslogo
{
    background: url('/global/Images/technet.TabC.png') 0 0;
    width: 132px;
    height: 29px;
    
}

.technet_TabC_technet_SiteNavTabOff1Left
{
    background: url('/global/Images/technet.TabC.png') -132px 0;
    width: 2px;
    height: 22px;
    
}

.technet_TabC_technet_SiteNavTabOff1Right
{
    background: url('/global/Images/technet.TabC.png') -134px 0;
    width: 2px;
    height: 22px;
    
}

.technet_TabC_technet_SiteNavTabOnLeft
{
    background: url('/global/Images/technet.TabC.png') -136px 0;
    width: 2px;
    height: 24px;
    
}

.technet_TabC_technet_SiteNavTabOnRight
{
    background: url('/global/Images/technet.TabC.png') -138px 0;
    width: 2px;
    height: 24px;
    
}

.technet_TabC_more_corner_TN_botleft
{
    background: url('/global/Images/technet.TabC.png') -140px 0;
    width: 5px;
    height: 5px;
    
}

.technet_TabC_more_corner_TN_botright
{
    background: url('/global/Images/technet.TabC.png') -145px 0;
    width: 5px;
    height: 5px;
    
}

.technet_TabC_more_corner_TN_upleft
{
    background: url('/global/Images/technet.TabC.png') -150px 0;
    width: 5px;
    height: 5px;
    
}

.technet_TabC_more_corner_TN_upright
{
    background: url('/global/Images/technet.TabC.png') -155px 0;
    width: 5px;
    height: 5px;
    
}

.expression_TabC_blkmslogo
{
    background: url('/global/Images/expression.TabC.png') 0 0;
    width: 110px;
    height: 18px;
    
}

.expression_TabC_expression_border
{
    background: url('/global/Images/expression.TabC.png') -110px 0;
    width: 1px;
    height: 1px;
    
}

.expression_TabC_expression_SiteNavTabOff1Left
{
    background: url('/global/Images/expression.TabC.png') -111px 0;
    width: 2px;
    height: 35px;
    
}

.expression_TabC_expression_SiteNavTabOff1Right
{
    background: url('/global/Images/expression.TabC.png') -113px 0;
    width: 2px;
    height: 35px;
    
}

.expression_TabC_expression_SiteNavTabOnLeft
{
    background: url('/global/Images/expression.TabC.png') -115px 0;
    width: 2px;
    height: 35px;
    
}

.expression_TabC_expression_SiteNavTabOnRight
{
    background: url('/global/Images/expression.TabC.png') -117px 0;
    width: 2px;
    height: 35px;
    
}

.answers_TabC_blkmslogo
{
    background:  url('/global/Images/answers.TabC.png') no-repeat scroll 0 0;
    width: 110px;
    height: 18px;
    overflow: hidden;
}

.answers_TabC_answers_SiteNavTabOff1Left
{
    background: url('/global/Images/answers.TabC.png') no-repeat scroll -110px 0;
    width: 2px;
    height: 22px;
    overflow: hidden;
}

.answers_TabC_answers_SiteNavTabOff1Right
{
    background: url('/global/Images/answers.TabC.png') no-repeat scroll -112px 0;
    width: 2px;
    height: 22px;
    overflow: hidden;
}

.answers_TabC_answers_SiteNavTabOnLeft
{
    background:  url('/global/Images/answers.TabC.png') no-repeat scroll -114px 0;
    width: 2px;
    height: 24px;
    overflow: hidden;
}

.answers_TabC_answers_SiteNavTabOnRight
{
    background:  url('/global/Images/answers.TabC.png') no-repeat scroll -116px 0;
    width: 2px;
    height: 24px;
    overflow: hidden;
}




/* Follows New CSS-Selctors Naming Rules. */

.AlterPart {
	background-color : #f0f0f0;
	float : right;
	display : inline;
	width : 200px;
	color : #000;
	border : 1px solid #ccc;
	margin : 8px;
	padding : 8px;
}



.AlterPart span {
	font-weight : 700;
}


.AlterPart ul {
	margin : 0;
	padding : 0;
}


.AlterPart li {
	margin : 0 0 8px 20px;
	padding : 0;
}

.AlterPart a {
	color : #03c;
}



.CCE_Title_Edit
{
  width:100%;
  font-size:13pt;
  font-weight:bold;
  padding:0px;
  border:solid 1px #87a9d1;
}
.CCE_TitlePanel
{
  background-color:#eef6f0;
  padding:12px;
}
.CCE_TagEditorPanel
{
  text-align:left;
}
.CCE_Message
{
  color:Red;
  font-size:10pt;
}
.CCE_Button
{
  margin-top:8px;
  margin-bottom:8px;
}
.CCE_ButtonsPanel
{
  text-align:right;
  height:40px;
  padding-left:12px;
  padding-right:12px;
}
.CCE_TagAutoComplete
{
  text-align:left;
  list-style-type:none;
  list-style-image:none;
  cursor:default;
  padding:0px;
  margin:0px;
  border:solid 1px gray;
  background-color:white;
  color:Black;
  z-index:100;
}
.CCE_License
{
  text-align:center;
  margin-bottom:3px;
}
.CCE_LicenseTooltip
{
  font-family:Verdana;
}
.CCE_Editor_Disabled
{
  margin-left:0px;
}
.CCE_Editor_Disabled PRE
{
  background-color:#DEDEDE;
  margin:0px;
  white-space:pre-wrap;
}
.CCE_Editor_Disabled P
{
  margin:0px;
  min-height: 1em;
}

/* code snippet styles */

.CC_CodeSnippetTitleBar
{
	background-color:#EEEEEE;
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:3px;
	white-space:nowrap;
	border-bottom:dashed 1px black;
	height:15px;
  word-spacing:normal;
	letter-spacing:normal; 	
}
.CC_CodeDisplayLanguage
{
	float:left;
  text-align:left;
}
.CC_CopyCodeButton
{
	float:right;
  text-align:right; 
}
a.CC_copyCode
{
  cursor:pointer;
  color:blue;
  text-decoration:none;
  text-align:right;
}
pre.CC_code
{
	background-color:#DDDDDD;
	margin:0px;
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:3px;
}
div.CC_code
{
	background-color:#DDDDDD;
	margin:0px;
	padding:0px;
}
div.CC_code
{
	border:dotted 1px black;
}

/* Telerik editor style overrides */

DIV.rade_toolbar UL
{
  line-height:normal;
  word-wrap:normal;
}
DIV.rade_dropDownBody
{
  height:auto !important;
  overflow:visible;
}
DIV.rade_dropDownBody PRE
{
  margin-left:0px;
}
DIV.radeditor
{
  height:auto !important;
  width:auto !important;
}
TD.rade_tlbVertical
{
  display:none;
}
TD.rade_wrapper_corner,
TD.rade_wrapper_center
{
  display:none;
}
TD.rade_toolZone
{
  background-color:#eef6f0 !important;
}

/* Telerik tooltip style overrides */

DIV.radtooltip_Vista
{
  border:solid 1px red;
}
TD.ToolTipContent
{
  font-family:Verdana !important;
  font-size:10pt !important;
  font-weight:normal !important;
}



.CCS_Container
{
	font-family:Verdana;
	font-size:9pt;
	width:98%;
	position:relative;
	line-height:normal;
	clear:both;
}
.CCS_TopicTagEditor
{
  margin:0px 12px 0px 12px;
}
.CCS_ContentContainer
{
	margin:0px 12px 12px 12px;
}
.CCS_WikiLogo
{
  position:relative;
  width:40px;
  top:36px;
  left:12px;
  padding:0; 
  margin:0;
}
.CCS_HeaderContainer
{
  margin:0px;
}
.CCS_Header
{
	background-color:#5ba86f;
	height:40px;
	border-bottom:solid 1px black;
}
.CCS_HeaderTitle
{
	color:white;
	font-family:Verdana;
	font-weight:bold;
	font-size:12pt;
	font-weight:bold;
	padding:5px 5px 5px 15px;
	margin-left:30px;
	vertical-align:middle;
	white-space:nowrap;
}
.CCS_HelpImage
{
  border:0px;
  vertical-align:middle;
}
.CCS_Toolbar
{
	height:20px;
	background-color:white;
	color:#0033cc;
	padding-top:12px;
	margin:0px;
	table-layout:fixed;
}
A.CCS_Link,
A:active.CCS_Link,
A:hover.CCS_Link,
A:visited.CCS_Link
{
	color:#0033cc;
	font-family:Verdana;
	font-size:9pt;
	cursor:pointer;
}
A.CCS_Link,
A:active.CCS_Link,
A:visited.CCS_Link
{
  text-decoration:none;
}
A:hover.CCS_Link
{
  text-decoration:underline;
}
.CCS_Add
{
	font-family:Verdana;
	font-size:9pt;
	color: #0033cc;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;
}
.CCS_AddLinkDisabled, .CCS_AddLinkDisabled:hover, .CCS_AddLinkDisabled:visited, .CCS_AddLinkDisabled:active
{
	color:Gray;
	cursor:default;
}
.CCS_RecentChanges
{
	color:#0033cc;
	font-family:Verdana;
	font-size:9pt;
	text-align:center;
	white-space:nowrap;
}
.CCS_RecentChangesText
{
  vertical-align:middle;
}
.CCS_RecentChanges A, .CCS_RecentChanges A:visited, .CCS_RecentChanges A:hover
{
  vertical-align:middle;
	color:#0033cc;
}
.CCS_RSSImage
{
  vertical-align:middle;
}
.CCS_Profile
{
	white-space:nowrap;
  vertical-align:middle;
}
.CCS_ItemsContainer
{
  width:auto;
  margin: 0px 12px 12px 12px;
}
.CCS_Progress
{
  display:none;
  position:absolute;
  top:0;
  left:0;
  background-color:Transparent;
  z-index:10;
}
.CCS_Footer
{
	height:8px;
	width:100%;
	font-size:0pt;
	background-color:#5ba86f;
	margin-top:24px;
}
.CCS_Message
{
  color:Red;
  font-size:10pt;
  text-align:center;
}




.CCT_Panel, .CCT_Panel_Block
{
	background-color:#FFFFFF;
	font-size:9pt;
	margin:0px 0px 0px 0px;
	min-height:26px;
	line-height:12pt;
}
.CCT_Panel
{
	border:solid 1px #cccccc;
	padding:3px 3px 3px 3px;
}
.CCT_Panel_Block
{
	border-top:solid 1px #cccccc;
	padding:3px 12px 3px 12px;
	white-space:normal;
}
.CCT_Title
{
    font-weight: bold;
    font-size: 10pt;
    vertical-align: middle;
    height: 1px;
    padding-top: 3px;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
}
.CCT_Text
{
	color:#0033cc;
	font-size:9pt;
	padding:0px 0px 0px 0px;
}
.CCT_View
{
	margin: 0px 4px 0px 4px;
	font-size:9pt;
	top:0;
	left:0;
	padding:0px 0px 0px 0px;
	vertical-align:middle;
}
.CCT_Edit
{
	margin:0px 4px 0px 4px;
	white-space:nowrap;
}
.CCT_TextBox
{
  font-size:10pt;
  vertical-align:middle;
  z-index:100;
  width:98% !important;
}
.CCT_TagPair
{
	white-space: normal;
	vertical-align:middle;
}
a.CCT_Link,
a:active.CCT_Link,
a:hover.CCT_Link,
a:visited.CCT_Link
{
	color:#0033cc;
	font-size:9pt;
}
a.CCT_Link,
a:active.CCT_Link,
a:visited.CCT_Link
{
  text-decoration:none;
}
a:hover.CCT_Link
{
  text-decoration:underline;
}
a.CCT_LinkButton,
a:active.CCT_LinkButton,
a:hover.CCT_LinkButton,
a:visited.CCT_LinkButton
{
	color:#0033cc;
	font-size:9pt;
	white-space:nowrap;
}
a.CCT_LinkButton,
a:active.CCT_LinkButton,
a:visited.CCT_LinkButton
{
  text-decoration:none;
}
a:hover.CCT_LinkButton
{
  text-decoration:underline;
}
.CCT_Message
{
	color:red;
}
.CCT_HelpLink
{
}
.CCT_HelpImage
{
  border:solid 0px black;
  margin:3px 3px 3px 3px;
	vertical-align:middle;
}
.CCT_TagAutoComplete
{
  text-align:left;
  list-style-type:none;
  list-style-image:none;
  cursor:default;
  padding:0px;
  margin:0px;
  border:solid 1px gray;
  background-color:white;
  color:Black;
  width:auto !important;
  z-index:100;
}
.CCT_TagsPanel
{
  float:left;
  width:75%;
}
.CCT_FlagAsPanel
{
  float:right;
  white-space:nowrap;
  vertical-align:middle;
}



.FallbackContainer
{
    float: right;
    font-size:100%;
    width:200px;
    margin-top:8px; 
    margin-bottom:8px; 
    margin-left:8px;
    margin-right:8px; 
    padding:8px;
    background-color:#f1f1f1; 
    border-bottom:1px solid #CCCCCC; 
    border-top:1px solid #CCCCCC; 
    border-left:1px solid #CCCCCC; 
    border-right:1px solid #CCCCCC;
}

.FallbackHeaderLabel
{
    font-weight:bolder;
}






.EyebrowElement {
    font-weight: bold;
}

.EyebrowContainer {
    font-size: 90%;
    margin: 5px 0px 10px 0px;
    width: 90%;
}



.MtpsFeedViewerBasicRootPanelClass {
}

.MtpsFeedViewerBasicHeaderStylePanel {
}

.FVB_HeaderStyle_One, .FVB_HeaderStyle_Two, .FVB_HeaderStyle_Three, .FVB_HeaderStyle_Four, .FVB_HeaderStyle_Five
{
	font-weight: 900;
}
.FVB_HeaderStyle_One
{
	font-size: 200%;
}
.FVB_HeaderStyle_Two
{
	font-size: 175%;
}
.FVB_HeaderStyle_Three
{
	font-size: 150%;
}
.FVB_HeaderStyle_Four
{
	font-size: 125%;
}
.FVB_HeaderStyle_Five
{
	font-size: 100%;
}
A.TitleRSSButtonCssClass
{
	vertical-align: middle;
}
A.TitleRSSButtonCssClass img
{
	margin-left: 5px;
}
.BasicHeadlinesItemPanelCssClass
{   
    width: auto!important;
	vertical-align: top;
	margin-bottom: 10px;
	padding-right: 1%; 
}
.BasicHeadlinesTitleBold {
    font-weight: normal;
    margin-bottom:3px;
}

.BasicListItemPanelCssClass
{
    float: left;
	vertical-align: top;
	margin-bottom: 12px;
	padding-right: 1%;
}

.BasicListTitleBold
{
}

/* Begin For the "BulletList" layout */
/* empty for future use */
.BulletListHeadlineLink
{
}

.FeedViewerBasicBulletListLI
{
}

/* Begin For the "Featured" layout */
.FeatureHeadlinesTitle
{
	vertical-align: top;
}

.TitleBold
{
    font-weight: 700;
}

.FeaturedHeadlinesItemPanelCssClass
{
    float: left;
	vertical-align: top;
}

.ImageHeadlineTabelCell
{
	vertical-align: top;
	padding: 3px 0px 10px 0px;
	text-align: left;
	width: 1%;
}
.ImageHeadlineTabelCell A IMG
{
	border: solid 0px transparent;
}

.FeaturedRssItemTableCell
{
	vertical-align: top;
	text-align: left;
}

td.headlines_td_text strong {
    font-size:14px;
    font-weight: normal;
    margin-bottom:3px;
}

.FVBAuthorLabel
{
	font-weight: 900;
	color: #555;
	font-size: smaller;
	padding-right: 5px;
}

.FVBPubDateLabel
{
	font-style: italic;
	color: #555;
	font-size: smaller;
}

.FVB_ImageHeadlinesDiv
{
	padding: 0px 0px 10px 10px;
	vertical-align: top;
}
td.headlines_td_text {
	padding: 0px 0px 0px 10px;
}

td.headlines_td_image {
	padding: 3px 0px 9px 0px;
}

table.headlines_table {
	padding-bottom: 12px;
}

td.noimages_td {
	padding-bottom: 0px;
}

/* Begin For the "LimitedList" layout */
.LimitedListItemPanelCssClass
{
    float: left;
	vertical-align: top;
	margin-bottom: 12px;
}

/* Same as BulletList*/
.LimitedListTitleBold
{
}

/* Begin For the "OPMLFeatureList" layout */
.ItemDiv
{
	font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	float: left;
}

.ColumnDiv
{
    clear: both;
    margin-top: 12px;
}

.OverflowAuto
{
    overflow: auto;
}

.OPMLImgDiv
{
	float: left;
	margin-bottom: 12px;
	padding: 3px 10px 9px 0px;
}

.OPMLTextDiv
{
	vertical-align: top;
	min-height: 30px;
	margin-bottom: 12px;
	margin-left: 65px;	
}

.OPMLFriendlyName
{
	font-size: small;
	font-weight: bold;
}

.OPMLSubtitle
{
	font-size: small;
	font-weight: normal;
}

.OPMLFriend
{
	text-decoration: none;
	color: #555;
}
.OPMLBlogEntryTitle
{}

.FVBForumListLI
{
	margin-bottom: 10px;
}

.FVBForumDescriptionCssClass
{
	width: auto;
	vertical-align: top;
	margin-bottom: 12px;
}

.MtpsFeedViewerBasicMoreLinkPanelClass
{
    text-align: right;
}

.ListColumnPanel
{
    float: left;
}

.EmptyPanel
{
    clear: both;
}

.ListPanelMarginTop
{
    margin-top: 15px;
}

.TitleHidden
{
    visibility: hidden;
    height: 0;
}



.itPrint
{
  font-size:100% !important;
}
.itFav
{
  font-size:100% !important;
}
.itSend
{
  font-size:100% !important;
}
.itComCon
{
  font-size:100% !important;
}
Div.miniRatings
{
	background-color: #f0f0f0;
	border-bottom: 1px solid #c0c0c0;
	text-align:left;
	vertical-align:bottom;
	margin:0 0 12px 0;
	padding:0px;
	line-height:normal;
	height:28px;
	width:100%;
}

div.miniRatings_left
{
  padding-top:5px;
  padding-bottom:4px;
  padding-left:2px;
  float :left;
  position:absolute;
  background-color:#F0F0F0;
  z-index:190;
}

div.miniRatings_left a
{
	padding-top:2px;
	padding-right:5px;
	padding-bottom:3px;
	padding-left:2px;
	text-decoration: none;
	color: #0033CC;
	border: 1px solid #f0f0f0;
}
head/*/+body/**/ div.miniRatings_left a 
{
	padding-right:5px;
	padding-left:2px;
	line-height:normal;
}

div.miniRatings_left a:hover, head/*/+body/**/ div.miniRatings_left a:hover
{
	background-color: #e3ebf2;
	color: #0033CC;
	border: 1px solid #a1c6eb;
}

div.miniRatings_left a:visited, head/*/+body/**/ div.miniRatings_left a:visited
{
	color: #0033CC;
}
div.miniRatings_left a img
{
   vertical-align:text-bottom;
   margin-left:3px;
   /*margin-right:5px;*/
}

head/*/+body/**/ div.miniRatings_left a img
{
   vertical-align:top;
}

div.miniRatings_right
{
	/*min-width: 400px;*/
	float: right;
	z-index:99;
}
div.miniRatings_right #ratingTable
{
	float:right;
}

div.miniRatings_right td
{
	text-decoration: none;
	color: #0033CC;
	border: 1px solid #f0f0f0;
	padding:0px;
	padding-top:3px;
}

div.miniRatings_right a:hover
{
	background-color: #e3ebf2;
	/*border: 1px solid #a1c6eb;*/
}

div.miniRatings_right a:visited
{
	color: #0033CC;
}
div.miniRatings_right a img
{
   vertical-align:text-bottom;
}

/* Atlas RatingControl */
.ratingStar {
    font-size: 0pt;
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

/* TODO: use the class name from ImageCluster.css rather than copying pixel locations as those might change*/
.filledRatingStar 
{
	background: url('/global/Images/LibC.gif') -288px 0;
}

.emptyRatingStar {
		background: url('/global/Images/LibC.gif') -304px 0;
}

.savedRatingStar {
  background: url('/global/Images/LibC.gif') -272px 0;    
}
/* End-Atlas RatingControl */

.ratingFlyoutStatic
{
  white-space:nowrap;
  width: 500px;
}
.ratingFlyoutStatic TABLE
{
  font-size:100%;
  float:right;
}
.tbFont
{
	white-space:nowrap;
}

* html .tbfont, *+html .tbfont {
    font-size: 70%;
}

.ratingFlyoutPopup
{
  margin:0;
  vertical-align:middle;
  border:1px solid #7A7A7A;
  background-color:white;
  height:220px;
  width:450px;
}

.ratingFlyoutPopup .OptionalText, .ratingFlyoutPopup .WarningMessage
{
  float:left;
  margin-left:25px;
  font-size:10pt;
  margin-top:10px;
  margin-bottom:10px;
}
.ratingFlyoutPopup .WarningMessage
{
  color:Red;
}
.ratingFlyoutPopup .Comment
{
  margin-left:25px;
  width:396px;
  height:132px;
  display:block;
  clear:both;
  margin-bottom:10px;
}
.ratingFlyoutPopup .Button
{
  float:right;
  margin-right:25px;
  padding-top: 0.2em;
}



.MtViewDropDown
{
	position:relative;
	width:auto;
	float:left;
	padding-left: 20px;
}

.MtViewDropDownImage
{
	cursor:pointer;
	text-align:center;
	float:left;
}

A.MtViewDropDownOff, A.MtViewDropDownOff:hover, A.MtViewDropDownOff:active, A.MtViewDropDownOff:visited
{
	cursor: pointer;
	color: Black;
	text-decoration:none;
	padding-left:3px;
	padding-top:10px;
}

.MtViewDropDownPopup
{
	background-color: #dddddd;
	position:absolute;
	left:0px;
	width:200px;
	padding-top:1px;
	padding-left:1px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:0px;
	margin-left:20px;
	margin-right:0px;
	margin-bottom:0px;
	border: solid 1px #cccccc;
	vertical-align:middle;
	text-align:left;
	top:17px;
}

.MtViewDropDownOption
{
	display: block;
	text-decoration: none;
	color: Black;
	padding: 2px;
	margin: 2px 0 2px 15px;
	border: solid 1px #ddd;
}

a.MtViewDropDownOption:hover
{
	border-color: #DD7C3B;
	background: #eee;
} 

a.MtViewDropDownOption:active
{
	border-color: #b46530;	
}




.CodeHighlighter 
{
	word-wrap: break-word;
	padding-left: 15px;
	padding-bottom: 15px;
}
pre
{
	white-space: pre-wrap; /* CSS2.1 compliant */
    white-space: -moz-pre-wrap; /* Mozilla-based browsers */
    white-space: o-pre-wrap; /* Opera 7+ */
}




.FooterLinks {
    padding: 6px 0px 12px 8px;
}

.Pipe {
    color: #000;
    font-size: 125%;
    padding-left: 4px;
    padding-right: 4px;
}



.LocaleManagementFlyoutPopup {
    background-color : #FFFFFF;
    color : #000;
    border : 1px solid #B8B8B8;
    text-align : left;
    z-index : 1000;
    padding : 3px;
    display: none;
    position:absolute;   
}

.LocaleManagementFlyoutPopup A, .LocaleManagementFlyoutPopup A:visited {
    font-size : 10px;
    color : #000;
    height : 15px;
    text-align : left;
    text-decoration : none;
    white-space : nowrap;
    display : block;
    padding : 1px 3px
}

.LocaleManagementFlyoutPopup A:hover, .LocaleManagementFlyoutPopup A:active {
    background-color : #f0f7fd;
    height : 15px;
    text-decoration : none;
    white-space : nowrap;
    display : block;
    padding : 1px 3px;
}

.LocaleManagementFlyoutPopupHr {
    height : 1px;
    background : #d0e0f0;
    margin : 0 11px 21px;
}

.LocaleManagementFlyoutPopArrow {
    background: transparent url('/platform/controls/StoLocaleManagementFlyout/resources/arrow_dn_white.gif') no-repeat;
	padding-bottom: 4px;
	padding-left: 5px;
	margin-right:10px;
	
}

.LocaleManagementFlyoutStatic, .LocaleManagementFlyoutStaticHover {
    white-space : nowrap;
    text-decoration : none;
    cursor : default;
    display : inline;
    margin : 1px;
    padding : 1px 3px;
    color: #fff;
}

A.LocaleManagementFlyoutStaticLink, A:visited.LocaleManagementFlyoutStaticLink, A:hover.LocaleManagementFlyoutStaticLink, A:active.LocaleManagementFlyoutStaticLink {
    white-space : nowrap;
    text-decoration : none;
    cursor : default;
    display : inline;
    color: #fff;
    width:150px;
}

.LocaleManagementFlyoutPopupTable
{
    width:150px;
    border:0px;
}





.Masthead {
    padding: 12px 0px 0px 0px;
}

.BrandLogo {
    cursor: pointer;
  	font-family: 'Segoe UI Semibold','Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 19px;
    float: left;
    line-height: 125%;
    margin-left: 8px;
    width: 312px;
}
*html .BrandLogo {
    font-size: 18px;
    margin-left: 4px;
}

.GlobalBar {
	float: right;
    font-size: 12px;
	margin: -4px 11px 0px 0px;
	text-align: right;
	width: 305px;
}
*html .GlobalBar {
    font-size: 11px;
	margin-right: 4px;
}

.GlobalBar a:hover {
	text-decoration: underline;
}

.LocaleFlyout {
	float: right;
	white-space: nowrap;
}

.PassportScarab {
    float: right;
    padding: 0px;
	white-space: nowrap;
}

.UserName {
	float: right;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
    white-space: nowrap;
    width: 283px;
}
*html .UserName {
    margin-top: 4px;
}

.NetworkLogo {
  	font-family: 'Segoe UI Semibold','Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 150%;
	position: absolute;
	right: 12px;
}
*html .NetworkLogo {
	right: 8px;
}



div#idPPMWOverlay {
	background-color: #FFFFFF;
	position: absolute;
	bottom: 0px;
	top: -20px;
	left: -675px;
	right: -155px;
	z-index: 1024;
	width: 240%;
	height: 101%;
	margin: 0px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
}




/*-------- Start SearchControl --------*/
.SearchBox {
    background-color: #fff;
	border: solid 1px #346B94;
	float: left;
    height: 22px;
	margin: 0px 0px 12px 0px;
	width: 314px;
}
*html .SearchBox {
    height: 23px;
}

.SearchBox ul {
	z-index: 999;
	display: block;
	font-size: 9pt;
	list-style: none;
	list-style-image: none;
}

.TextBoxSearch {
	border: none;
	color: black;
	float: left;
	font-size: 13px;
	font-style: normal;
	margin: 0px;
    padding: 4px 0px 0px 5px;
    vertical-align: top;
    width: 232px;
}
*html .TextBoxSearch {
    padding: 2px 0px 0px 5px;
    width: 228px;
}

.TextBoxSearchIE7 {
   padding: 2px 2px 0px 5px;
   border: solid 1px white;
}

.Bing {	
	background: #fff url('/platform/controls/StoSearch/resources/bing.png') 0 0 no-repeat;
    display: inline-block;
    float: right;
    height: 22px;
    overflow: hidden;
	text-align: right;
    width: 47px;	
}

*html .Bing {
	background-image: url('/platform/controls/StoSearch/resources/bing2.png');
}

.SearchButton {
    background: #fff url('/platform/controls/StoSearch/resources/bing.png') 0 -22px no-repeat;
    display: inline-block;
	border-width: 0px;
	cursor: pointer;
    float: right;
	height: 21px;
	margin: 0px;
	padding: 0px;
	text-align: right;
	vertical-align: top;
    width: 21px;
}

*html .SearchButton {
	background-image: url('/platform/controls/StoSearch/resources/bing2.png');
}
/*-------- End SearchControl --------*/







/*-------- Start Inter App Nav --------*/
.internav {
    background-position: right top;
    background-repeat: no-repeat;
    float: left;
    font-family: 'Segoe UI Semibold','Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 32px;
    margin: 0px 0px 0px 8px;
    max-width: 823px;
    overflow: hidden;
    padding: 0px 37px 0px 0px;
    position: relative;
    white-space: nowrap;
}
*html .internav {
    font-size: 13px;
    margin: 0px 0px 0px 4px;
    padding: 0px 0px 0px 1px;
}

.leftcap {
    height: 32px;
    left: -29px;
    position: absolute;
    width: 37px;
}
*html .leftcap {
    background-image: none;
}

.internav a {
    float: left;
    margin: 0px;
    padding: 6px 9px;
    white-space: nowrap;
}
*html .internav a {
    padding: 8px 9px 4px 9px;
}

.internav a:hover {
    height: 20px;
    margin: 1px 0px;
    padding: 6px 9px 4px 9px;
}
*html .internav a:hover {
    padding: 8px 9px 2px 9px;
}

.internav a.active {
    height: 20px;
    margin: 1px 0px;
    padding: 5px 9px;
}
*html .internav a.active,
*html .internav a.active:hover {
    padding: 8px 9px 2px 9px;
}
/*-------- End Inter App Nav --------*/

/*-------- Start LocalNavigation --------*/
.LocalNavigation {
    display: inline-block;
    font-size: 12px;
    margin: 0px 0px 0px -17px;
    padding: 0px 0px 1px 0px;
    white-space: nowrap;
    width: 996px;
}
*html .LocalNavigation {
    font-size: 11px;
    margin: 0px 0px 0px 8px;
    width: 950px;
}

.HeaderTabs {
    margin: 0px 0px 0px 25px;
    width:  948px;
}
*html .HeaderTabs {
    margin: 0px 0px 0px 1px;
}

.LocalNavigation .TabOff {
    float: left;
    white-space: nowrap;
}

.LocalNavigation .TabOff a {
    float: left;
    margin-top: 1px;
    padding: 4px 6px;
    cursor: pointer;
}

.LocalNavigation .TabOff a:hover {
    padding: 5px 6px 3px 6px;
}

.LocalNavigation .TabOn {
    float: left;
    margin-top: 1px;
    padding: 4px 6px;
    white-space: nowrap;
}

.LocalNavigation .TabOn a,
.LocalNavigation .TabOn a:hover,
.LocalNavigation .TabOn a:visited {
    text-decoration: none;
}

.LocalNavBottom {
    display: none;
}

.cleartabstrip {
    clear: both;
    height: 0px;
}
* html .cleartabstrip {
    display:none;
}
/*-------- End LocalNavigation --------*/
/*-------- End NavigationBox --------*/



  .TFlyPopupAnimate{
    position: absolute;
    display:block;
    border:1px solid gray;
    overflow:hidden;
    visibility:hidden;
    margin:0;
    padding:0;
    z-index:1;
  }




.twPopup {
	position : fixed;
	z-index : 100;
	top : 100px;
	left : 200px;
	width : 450px;
	border : 1px solid #aaa;
	background : #fff;
	visibility : hidden;
	overflow: visible;
}

.twPopupHandle {
	background-color : #eceefc;
	font : bold 120% Verdana, Arial, Helvetica, sans-serif;
	border-bottom : 1px solid #bbb;
	cursor : move;
	overflow : hidden;
	height : 24px;
}

.twPopupTitle {
	display : block;
	float : left;
	cursor : move;
	margin : 3px 0 0 5px;
}

.twPopupHandle .twButton {
	display : block;
	float : right;
	text-decoration : none;
	vertical-align : bottom;
	padding : 0;
}

.twClearBoth {
	clear : both;
}

.twPopupCommands
{
	background-color : #eceefc;
	background-repeat: repeat-x;
	font : bold 120% Verdana, Arial, Helvetica, sans-serif;
	border-bottom : 1px solid #bbb;
	height : 24px;
	padding: 5px;
	text-align: right;
}

#twPopupSuggestions {
	height : 150px;
	overflow-x : hidden;
	overflow-y : auto;
	padding : 0;
}

#twPopupSuggestions td {
	border-bottom : 1px solid #bbb;
	vertical-align : top;
}

.twPopupControlColumn {
	background-color : #ccc;
	width : 120px;
	padding : 0;
}

.twPopupSentenceColumn {
	width : 300px;
	padding-top : 3px;
	padding-left : 3px;
	padding-right : 10px;
}

.twPopupControlButton {
	display : block;
	float : left;
}

#twPopupSuggestionsTitle {
	margin-top : 2px;
	background-color : #ccc;
	font-weight : 700;
	padding : 3px 5px;
}

#twPopupNoSuggestions {
	margin-top : 25px;
	text-align : center;
	font-style : italic;
	font-weight : 700;
}

#twPopupProgress {
	text-align : center;
	padding-top : 10px;
	padding-bottom : 10px;
	line-height : 200%;
}

.twPopupInfo {
	background : #cfc;
	border-bottom : 1px solid #ccc;
	padding : 3px;
}

.twPopupError {
	background : #fc9;
	border-bottom : 1px solid #ccc;
	padding : 3px;
}

.InlineEditor_Editor_Off {
	border : 0 solid #87a9d1;
	height : auto;
	font-family : Verdana;
	background : transparent;
	padding : 3px;
}

.InlineEditor_Editor_On {
	border : 1px solid #87a9d1;
	font-family : Verdana;
	background : #fff;
	cursor : text;
	height : 100%;
	min-height : 120px;
	padding : 3px;
}

/* IE 6, IE 7 Hack */
* html .InlineEditor_Editor_On, * + html .InlineEditor_Editor_On {
	height : 120px;
}

.InlineEditor_Toolbar {
	border : 1px solid gray;
	background : #d3d3d3;
	height : 24px;
	width : 100%;
}

.InlineEditor_ImageButton {
	cursor : pointer;
	height : 24px;
	float : left;
	margin : 0;
}

.InlineEditor_Separator {
	cursor : default;
	height : 24px;
	float : left;
	margin : 0;
}

.InlineEditor_Title_Edit {
	width : 100%;
	border : 1px solid #87a9d1;
	padding : 0;
}

.InlineEditor_TagEditorPanel {
	text-align : left;
}

TD.rade_toolZone, TD.rade_leftVerticalSide, TD.rade_rightVerticalSide
{
  background-color:#cfd7eb !important;
}

DIV.radeditor TABLE
{
  background-color:#cfd7eb !important;
}


